.app-outer-container {
    box-sizing: border-box;
    padding: 20px 0;
    width: 100%;
    height: calc(100% - 64px);
    background-color: #e6e6e6;
    overflow: auto;
    &.centerred-content {
        padding-left: 15%;
        padding-right: 15%;
    }
    .app-inner-container {
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #c6c6c6;
        background-color: white;
    }
    .router-outlet-container {
        background: white;
    }
}