.grid-container {
    height: 100%;
    background-color: #795959;
    transition: all 0.2s ease-in-out;
    .grid-element {
        width: 250px;
        height: 250px;
        border: 1px solid #aaa;
        -webkit-font-smoothing: subpixel-antialiased;
        transition: all .1s cubic-bezier(0.165, 0.4, 0.44, 1);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

        &:first-child {
            background-color: orange;
        }
        &:last-child {
            background-color: blue;
        }
        &.green {
            background-color: green;
        }

        &:hover {
            transform: translateZ(0) scale(1.083);
            box-shadow: 0px 0px 27px 10px rgba(0, 0, 0, 0.3);
            z-index: 5;
        }
        &:after {
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: translateZ(0);
            content: "";
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .1s cubic-bezier(0.165, 0.4, 0.44, 1);
            &:hover {
                opacity: 1;
            }
        }
    }
}